/* import styled from '@emotion/styled/macro';

export const НomePageStyled = styled.div` */
/* import bgimage from ; */
.back {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/bg-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
